body{

}

header {

}
nav {
    display: block;
    background-color: #68a7ff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0px;
    border:#353535
}

nav a {
    display: inline-block; 
    padding: 5px 25px;
    font-size: large;
    text-align: center;
}

footer {
    padding: 15px;
    text-align: center; ;
    background-size: cover;
    color: #000000
}

h1 {
    color:#000000;
    text-align: center;
}

h2 {
    color:#000000;
    text-align: center;
}

#menu {
    display: flex; 
    flex-wrap: wrap; 
    list-style-type: none; 
    justify-content: center; 
    padding: 15px;
    margin:10px;
}

.menu-item {
    position: relative;
    padding: 10px;
    margin: 10px;
    border : 2px solid;
    box-shadow: 2px 2px 5px #00000033;
}

.menu-item > ul {
    display: none;
    position: absolute; 
    min-width: 230px;
    z-index: 100;
    border : 2px solid;
    box-shadow: 0 4px 8px #0000001a;
    background-color: #fff;
}

.menu-item:hover > ul {
    display:block;
}

.sous-menu-item {
    position: relative;
    padding: 10px;
    margin: 10px;
    border : 2px solid;
    box-shadow: 2px 2px 5px #00000033;
}


.sous-menu-item > ul {
    display: none;
    position: absolute; 
    min-width: 230px;
    z-index: 100;
    border : 2px solid;
    box-shadow: 0 4px 8px #0000001a;
    background-color: #fff;
}

.sous-menu-item:hover > ul {
    display: inline-block;
}

.Ssous-menu-item {
    position: relative;
    padding: 10px;
    margin: 10px;
    border : 2px solid;
    box-shadow: 2px 2px 5px #00000033;
}

.Ssous-menu-item > ul {
    display: none;
    position: absolute; 
    min-width: 230px;
    z-index: 100;
    border : 2px solid;
    box-shadow: 0 4px 8px #0000001a;
    background-color: #fff;
}

.Ssous-menu-item:hover > ul {
    display: block;
}


